<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AgileHub - Statistics</title>
    <!--styles -->
    <link rel="stylesheet" type="text/css" href="styles/angular-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/ng-sortable.css">
    <link rel="stylesheet" type="text/css" href="styles/ng-sortable.style.css">
    <link rel="stylesheet" type="text/css" href="styles/board.css">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <!--scripts-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="scripts/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/angular-bootstrap//ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="scripts/ng-sortable.js"></script>
    <script type="text/javascript" src="scripts/model.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/services/BoardManipulator.js"></script>
    <script type="text/javascript" src="scripts/services/BoardDataRepository.js"></script>
    <script type="text/javascript" src="scripts/services/BoardService.js"></script>
    <script type="text/javascript" src="scripts/controllers/KanbanController.js"></script>
    <script type="text/javascript" src="scripts/controllers/NewCardController.js"></script>
    <script type="text/javascript" src="scripts/controllers/githubUserController.js"></script>
    <script type="text/javascript" src="scripts/login.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/primer.css">
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>
<body ng-app="demoApp">

<div class="content" ng-controller="GithubUserCtrl">
    <div ng-include="'views/navigation.html'"></div>
    <div>
        <h2>User statistic:</h2>
        <p>Public repos: {{userData.public_repos}}</p>
        <p>Public gists: {{userData.public_gists}}</p>
        <p>Followers: {{userData.followers}}</p>
        <p>Following: {{userData.following}}</p>
        <p>Created at: {{userData.created_at}}</p>
        <p>Updated at: {{userData.updated_at}}</p>
    </div>
</div>
</body>
</html>