<!-- Item template -->
<div as-sortable-item-handle>
    <div class="card">
        <div class="card-title">
            #{{card.number}} {{card.title}}
        </div>
        <div ng-if="card.assigneeLogin" class="asignee">
            assigned to {{card.assigneeLogin}}
            <img class="avatar avatar-small" height="24" src={{card.assigneeAvatar}} width="24">
        </div>
        <div ng-if="!card.assigneeLogin" class="asignee">
            not assigned
        </div>
        <div class="labels">
            <span ng-if="x.name != 'in progress'" ng-repeat="x in card.labels" class="label labelstyle-fbca04 linked-labelstyle-fbca04"
                  ng-style="{'background-color': x.color, 'margin-right': '5px'}">
                {{x.name}}
            </span>
        </div>
    </div>
</div>