<ul ng-controller="GithubUserCtrl" class="nav navbar-nav navbar-right" style="float: right;">

    <li><a href="https://github.com/{{username}}" target="_blank">@{{auth.displayName}}</a></li>
    <li>
        <a href="https://github.com/{{username}}" target="_blank">
            <img id="userAvatar" ng-src="{{userData.avatar_url}}" width="30" height="30" alt="{{username}}" />
        </a>
    </li>
    <li><a href="/logout" >Log Out</a></li>
</ul>