<div ng-model="kanbanBoard" id="board" ng-controller="KanbanController">
    <nav class="navbar container-fluid" style="margin-bottom: 15px;">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="navbar-brand"><strong>AgileHub</strong></a></li>
                <li ng-show="username != null" ><a href="/kanban">Kanban</a></li>
                <li ng-show="username != null" ><a href="/stats">Stats</a></li>
                <li ng-show="username != null" ><a href="/about">About</a></li>
            </ul>
            <ul  ng-show="username != null" class="nav navbar-nav navbar-right" style="float: right;">
                    <li><a href="https://github.com/{{username}}" target="_blank">@{{auth.displayName}}</a></li>
                    <li>
                        <a href="https://github.com/{{username}}" target="_blank">
                            <img id="userAvatar" ng-src="{{userAvatar}}" width="30" height="30" alt="{{username}}" />
                        </a>
                    </li>
                    <li><a href="/logout" >Log Out</a></li>
            </ul>
        </div>
    </nav>
    <div class="colorgraph ng-scope"></div>

    <div  class="columns row">

        <div class="col-xs-12 col-sm-6 col-md-9">
            <div  class="row">
                <div class="col-sm-{{12/kanbanBoard.numberOfColumns}} col-xs-{{12/kanbanBoard.numberOfColumns}}"
                     ng-repeat="column in kanbanBoard.columns"
                     data-columnindex="{{$index}}" id="column{{$index}}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="text-align: center">
                                <span class="columnHeader"><strong>{{column.name}}</strong></span>
                                <span class="badge cardCount">{{column.cards.length}}</span>
                            </div>
                        </div>

                        <div class="panel-body">
                            <ul class="cards card-list" as-sortable="kanbanSortOptions" ng-model="column.cards">
                                <li class="li-card" ng-repeat="card in column.cards" as-sortable-item ng-include="'views/card.html'">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">

            <h3 class="panel-title">Repositories</h3>
            <hr>
            <p ng-hide="userRepos.length != 0">No repositories!</p>
            <div ng-show="userRepos.length != 0" class="list-group">
                <a ng-repeat="repo in userRepos" class="list-group-item"
                   ng-class="{active : currentRepo === repo}"
                   ng-click="repoSelected($index)">
                    {{repo.name}}
                </a>
            </div>

            <hr>
            <a href="https://github.com/{{username}}/{{currentRepo.name}}/issues/new">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus-sign addNewCard" aria-hidden="true"></span>
                    <span style="margin-left: 5px">Add issue</span>
                </button>
            </a>
        </div>

    </div>

</div>






