<nav ng-controller="GithubUserCtrl" class="navbar container-fluid" style="margin-bottom: 15px;">
    <div class="navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/" class="navbar-brand"><strong>AgileHub</strong></a></li>
            <li ng-show="username != null" ><a href="/kanban">Kanban</a></li>
            <li ng-show="username != null" ><a href="/stats">Stats</a></li>
            <li ng-show="username != null" ><a href="/about">About</a></li>
        </ul>
        <ul  ng-show="username != null" ng-include="'views/githubUserInfo.html'"></ul>
    </div>
</nav>
<div class="colorgraph ng-scope"></div>