/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
}

.as-sortable-item {
    border: solid 1px #DDD;
    background-color: #F5F5F5;
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    background-color: #DDDDDD;
}

.as-sortable-drag {
    opacity: .8;
}

.as-sortable-hidden {
}